<p-menubar [model]="items">

    <div class="align-items-center" style="float: right ">

        <button pButton class="mr-4" icon="pi pi-fw pi-shopping-cart" (click)="redirectCard()">
            <label class="ml-3">{{cardItem}}</label></button>
    </div>
</p-menubar>
<div class="card">
    <div class="field">
        <img [src]="urun?.image!" [alt]="urun?.image!" class="product-image"  width="25%" *ngIf="urun?.image!">
    </div>
    <hr>
    <div class="field">
        <label>{{urun?.price!}}$</label>
    </div>
    <hr>
    <div class="field">
        <label>{{urun?.description!}}</label>
    </div>
</div>
<div class="card" >
    <p-button icon="pi pi-plus" (click)="incQnt(urun)"></p-button>
        {{amount}}
    <p-button icon="pi pi-minus" (click)="decQnt(urun)"></p-button>
    Add to Card
    <p-button icon="pi pi-cart-plus" (click)="addToSepet(urun)"></p-button>
</div>
<div class="card">
<p-dialog header="Add Comment" [(visible)]="display">
    Content
</p-dialog>

<p-button type="button" (click)="showDialog()"  label="Add Comment"></p-button>
</div>

