<p-menubar [model]="items">

    <div class="align-items-center" style="float: right ">

        <button pButton class="mr-4" icon="pi pi-fw pi-shopping-cart" (click)="redirectCard()">
            <label class="ml-3">{{cardItem}}</label></button>
    </div>
</p-menubar>
<div class="card">
    <div class="field">
        <img [src]="urun?.image!" [alt]="urun?.image!" class="product-image"  width="25%" *ngIf="urun?.image!">
    </div>
    <hr>
    <div>
    <div class="field">
        <label>{{urun?.price!}}$</label>
    </div>
    <hr>
    <div class="field">
        <label>{{urun?.description!}}</label>
    </div>
    </div>
    <div >
        <p-button icon="pi pi-plus" (click)="incQnt(urun)"></p-button>
        <label>{{amount}}</label>
        <p-button icon="pi pi-minus" (click)="decQnt(urun)"></p-button>
        <p-divider align="right">
            <p-button label="Add to Cart" icon="pi pi-cart-plus" (click)="addToSepet(urun)" styleClass="p-button-outlined" ></p-button>
        </p-divider>
    </div>
</div>
<!--<h1 class="ml-5">Comments</h1>-->

<!--<app-comment [comments]="commentss" *ngIf="comments"></app-comment>-->



