<app-header></app-header>
<div class="card">
    <p-dataView #dv [value]="products" [paginator]="true" [rows]="9" filterBy="name"
                [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
        <ng-template pTemplate="header">
            <div class="flex flex-column md:flex-row md:justify-content-between">
                <span class="p-input-icon-left mb-2 md:mb-0">
                    <i class="pi pi-search"></i>
                    <input type="search" pInputText placeholder="Search by Name"
                           (input)="dv.filter($any($event.target).value)">
                </span>
            </div>
        </ng-template>

        <ng-template let-product pTemplate="gridItem">
            <div class="col-12 md:col-4">
                <div class="product-grid-item card">
                    <div class="product-grid-item-content">
                        <div class="text-center mb-3">
                            <a (click)="GoToProduct(product)">
                                <p-image [src]="product.image"
                                         [alt]="product.name" width="200" class="shadow-4" [preview]="true"/>
                            </a>
                        </div>
                        <div class="product-name text-center"><h3>{{product.name}}</h3></div>
                    </div>
                    <div class="product-grid-item-bottom text-center">
                        <span class="product-price"><h1>${{product.price}}</h1></span>
                        <h2 *ngIf="product.stok > 0 ">INSTOCK</h2>
                        <h2 *ngIf="product.stok < 1 ">OUTOFSTOCK</h2>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>


